[2016-10-13 22:23] rschindlauer opened #2 "Will path references be supported?"
I noticed that API specs with `$ref` path objects cause an error. Is that something that will be supported in the future?

[2016-10-14 08:37] ikalnitsky commented on #2
@rschindlauer thanks for the feedback. Could you please provide an example so I can easily reproduce it? I'd really like to improve OpenApi support, and even tries to render examples in the future.

[2016-10-14 17:24] rschindlauer commented on #2
Here is an example--although I didn't try to reproduce that exact one: https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#paths-object-example

[2016-10-15 10:20] ikalnitsky commented on #2
Well, `$ref`s in schemas aren't rendered yet, but they should not cause any errors. For instance, I do use `$ref` in the example spec here:

https://github.com/ikalnitsky/sphinxcontrib-openapi/blob/master/docs/specs/openapi.yml#L40

Maybe I got something wrong, and you meant some other case. Please, clarify.

[2016-10-16 17:03] rschindlauer commented on #2
I think the issue is when the `description` is in the reference, not the element itself, like in this example (I believe this is valid swagger syntax):
[code]

This results in:
[code]

[2016-10-18 16:16] ikalnitsky commented on #2
Yeah, that's indeed a valid syntax. Thanks for reporting! I'll fix it soon.

[2016-10-22 09:22] #2 closed

[2016-11-12 22:05] thiyagaraj commented on #2
Hi @ikalnytskyi is this not pushed to pypi yet? We are still facing this error.. we did a pip install today(without giving a specific revision)

cc/ @zmagaw

[2016-11-13 05:34] thiyagaraj commented on #2
@ikalnytskyi never mind, I just saw the note that it is "unreleased", any ETA on when 0.2.0 will be released?

[2016-11-15 10:35] ikalnytskyi commented on #2
@thiyagaraj Sorry for the delay. I was hoping to implement more features before next release, but I was busy. I'll publish a new release later today.

[2016-11-15 15:52] thiyagaraj commented on #2
Thank you @ikalnytskyi , your are helping others out, so take your time, didnt want to sound pushy 👍

[2016-11-16 12:52] ikalnytskyi commented on #2
@thiyagaraj sorry for the delay once again :) I've pushed new version and now it's available on PyPi:

  https://pypi.python.org/pypi/sphinxcontrib-openapi

If you have any ideas how to improve this extension, please feel free to file an issue.

[2017-01-05 20:47] CloudNiner opened #3 "Unable to resolve local relative file references"
I have two yml files that define my Swagger specification:
[code]
and
[code]

When I attempt to build my sphinx docs, I get the following error:
[code]

It appears that `jsonschema.RefResolver` is always instantiated with `base_uri = ''`, which would break local refs. Is it possible to have an option on the openapi directive that would allow local file refs in the Swagger definition somehow?

It a

[2017-01-06 11:04] ikalnytskyi commented on #3
Seems like the bug indeed. I'll take a look on the weekend. Thanks for the reporting!

[2017-01-06 13:40] CloudNiner commented on #3
Sure thing. Happy to help if additional implementation is necessary.

[2017-01-08 20:48] ikalnytskyi commented on #3
@CloudNiner Well, I have both good and bad news for you. :)

**[GOOD]** I've managed to fix the issue, and once I finish writing tests I'll push it.

**[BAD]** Unfortunately, [jsonschema](https://github.com/Julian/jsonschema) tries to load referred documents as JSON, so trying to load YAMLs as JSON will obviously fail. :(

[2017-01-10 01:25] CloudNiner commented on #3
Awesome. Thanks for taking a look! I expected yaml would be trouble, no worries there.

[2017-01-10 11:24] #3 closed

[2017-01-10 12:44] ikalnytskyi opened #4 "Enhance resolving of JSON references"
OpenAPI spec may contain [JSON references](https://tools.ietf.org/html/draft-pbryan-zyp-json-ref-03), so before trying to render the spec we've got to properly resolve them.

There are two drawbacks in current implementation.

1. Resolver doesn't resolve recursive references, e.g. if `A` refers to `B` and `B` refers to `C` after processing `A` will contain `B` with unresolved `C`.

2. JSON referen

[2017-01-10 19:40] ikalnytskyi commented on #3
**UPD**: sphinxcontrib-openapi v0.2.1 with the fix has been released on PyPI.

https://pypi.python.org/pypi/sphinxcontrib-openapi/0.2.1

[2017-01-20 22:18] delventhalz opened #6 "References not resolved within lists"
References nested with in a list will not be resolved. For example, the following YAML code:
[code]

Neither reference will be caught by `_resolve_refs`.

[2017-01-20 22:45] delventhalz opened #8 "Parameters at path roots are mishandled"
`openapi2httpdomain` assumes all keys at the root level of paths are HTTP Methods, but according to the Open API spec, they can also be parameters which will be passed down to all methods at that route. For example, the following YAML will not build:

[code]

[2017-01-22 10:19] ikalnytskyi commented on #8
Thanks for reporting! Gotta take a look which *keys* are allowed in paths.

[2017-01-29 09:29] #6 closed

[2017-01-29 09:36] #8 closed

[2017-01-29 13:47] ikalnytskyi opened #10 "Introduce normalization level"
Since 9ca1e0a01318c28f8f8de6f76c4aa325d29c50a2 we started passing `parameters` argument to  `_httpresource`. The reason is to enable endpoint's root-level `parameters` option. However, it doesn't seem right to keep extending the function interface each time we need to support rare case. Instead, it'd be better to introduce some normalization level where we process the spec, and then pass to render

[2017-02-15 10:40] #10 closed

[2017-03-14 13:04] domenkozar opened #11 "TypeError: string indices must be integers"
[code]

Using swagger file

[code]

[2017-03-14 13:05] domenkozar commented on #11
Ah wrong format nevermind :)

[2017-03-14 13:05] #11 closed

[2017-03-14 16:16] ikalnytskyi commented on #11
:)

[2017-05-18 11:46] kazuki opened #12 "openapi doesn't work with sphinx 1.6.1"
[code]

I think https://github.com/sphinx-doc/sphinx/issues/3760 is same issue.

[2017-05-18 21:21] ikalnytskyi commented on #12
Thanks for the report! I'll take a look what I can do. :)

[2017-05-18 21:46] #12 closed

[2017-05-18 21:50] ikalnytskyi commented on #12
@kazuki FYI: the new version has been released and is available on PyPI (https://pypi.python.org/pypi/sphinxcontrib-openapi).

[2017-05-19 07:49] kazuki commented on #12
Thank!

[2017-05-23 17:33] leethargo opened #14 "Full description of payload schema etc."
I just played with your sphinx extension (thanks!) and saw that the generated documentation covers only part of the OpenAPI specification. This can already be seen with the BatComputer example in the docs. The paths, parameters and responses are present in the docs, but the schema for the payload is missing, as are the bounds on the integer parameters etc., even though the definitions are all ther

[2017-05-23 18:13] ikalnytskyi commented on #14
Hey @leethargo! Thanks for reaching out to me.

You are absolutely right here - more work needs to be done, and unfortunately I don't have time for that right now. :( I'll try to do something in near future, but can't say when it will be done. If you have some time I'll appreciate any contribution!

[2017-05-23 18:24] leethargo commented on #14
OK, I'll see what I need for my use case. If we go with with a sphinx-based solution, I'll make a pull request.

[2018-06-13 12:28] palicand opened #18 "Support for OpenAPI v3"
Hi! Are there any plans for supporting OpenAPI 3.x? PR #17 fixes at least one blocking bug, but it wasn't merged.

[2018-08-23 07:07] Maillol opened #21 "Display openapi Schema object in generated sphinx documentation"
Implemented here: https://github.com/ikalnytskyi/sphinxcontrib-openapi/pull/20

You can see an example of documentation generated here:
https://asterios.readthedocs.io/en/new-api/api.html#post--game-config
Using this openapi.yml file:
https://github.com/Maillol/asterios/blob/new-api/spec/openapi.yml

Note:
 * The shema is displayed for all request. perhaps is better if this behavior is optional.

[2018-10-27 12:59] stephenfin opened #23 "Move to sphinx-contrib organization?"
This is more of a request than a issue. I've noticed there are a few open PRs languishing against this project, but it's definitely useful to more than a few people. What's the possibility of moving this project to the [sphinx-contrib](https://github.com/sphinx-contrib) on GitHub? I think it would be a good fit and, with your blessing of course, it could be a helpful way to spread the load assumin

[2018-11-15 04:51] AlexandraPosoldova commented on #2
I have the same issue and my swagger file has simple one line descriptions written in json.
Any updates on this? Thanks

[2018-11-15 12:06] ikalnytskyi commented on #2
@AlexandraPosoldova could you please provide a little bit more details? I thought it's fixed and released.

[2018-11-15 23:13] AlexandraPosoldova commented on #2
This is a code snipped from swagger file 2.0:
`"put": {
        "tags": [
          "FitMachines"
        ],
        "description": "Update detailed information of a specific FitMachine",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
          "name": "device_id",
          "in": "path",
          "description": "Device ID",
          "type": "in

[2018-11-27 16:25] gotpredictions commented on #23
+1.  Looking through the OpenPRs, especially the one related to documenting the schema will be very useful for us.  I will be happy to help in my spare time as well, if some help is needed.

[2018-11-28 10:02] ikalnytskyi commented on #23
@stephenfin @gotpredictions Hey guys! I'm sorry I didn't respond so long to this and other PRs.

Yes, basically I'd be happy to move this to the `sphinx-contrib`. If you know how to do that, please guide me.

@gotpredictions any help is really appreciated. If you have some time, please contribute. :)

I'm going to get back to this project and try to address existing issues/PRs. It looks like it's

[2018-12-01 05:07] stephenfin commented on #23
@ikalnytskyi I've added you to the GitHub organization, meaning you can move the project to this organisation. GitHub has some good docs on the subject but as far as permissions go, the only people that will have access are the project admins (me, the Sphinx maintainers, and a couple of other well known Python/Sphinx contributors), you, and whoever you add to the project. In general, the admins wo

[2018-12-01 22:18] ikalnytskyi commented on #23
@stephenfin thanks! I want to settle few things here first, and then I'll move it to the org.

[2018-12-06 23:07] ikalnytskyi commented on #18
Basic OpenAPI 3 support is implemented in #22.

[2018-12-06 23:07] #18 closed

[2018-12-06 23:12] ikalnytskyi commented on #23
@stephenfin I finally transferred the project, but apparently I lost my admin permissions here. Is there any way to get them back?

[2018-12-06 23:45] stephenfin commented on #23
Yup, you should have them back now.

I might ask that you rename the project `openapi` too, given that the `sphinxcontrib-` prefix is superfluous. GitHub will add redirects for you. Your call though :smile:

[2018-12-06 23:48] stephenfin commented on #21
I'm guessing this is resolved in #22. If not, could you update the links to illustrate what it is you're missing? Thanks!

[2018-12-07 10:19] #21 closed

[2018-12-07 10:52] stephenfin opened #24 "New release"
I'd like to use the OpenAPI 3.0.0 support in one of my projects. Any chance we could get a 0.4/1.0 release so I can do so? I guess #16 could go in first, though some rework seems necessary there first.

[2018-12-09 14:03] ikalnytskyi commented on #24
@stephenfin I'm going to work on this this week. Before we do so, could you please approve a Travis-CI GitHub App request I sent to sphinx-contrib organization? Apparently, I cannot enable Travis CI for this repo.

[2018-12-09 14:55] ikalnytskyi commented on #24
Apparently generating examples for OpenAPI v3.0 is broken, and even *fails* the whole build. I'll work on a fix, and since this logic is not trivial, I'm going to make it optional.

[2018-12-10 10:03] stephenfin commented on #24
Yup, I think I've approved all these requests. Let me know if anything else is needed.

Oh? Anything in particular? I can also take a look, if it would help.

[2018-12-10 11:05] ikalnytskyi commented on #24
@stephenfin thanks! you can run tests from https://github.com/sphinx-contrib/openapi/pull/28

I do believe that one problem is that `type` is optional in `schema`, and if it's omitted we need to behave as it's `"type": "object"`. Currently we fail with `KeyError`.

[2018-12-23 14:57] stephenfin opened #32 "Markdown should be converted to reStructuredText"
Multiple fields support CommonMark. We should convert that to rST, perhaps using something like reCommonMark

[2019-01-06 17:18] olivier-heurtier opened #35 "Examples with a 'byte' string generate an error"
When a schema contains a string attribute of format `byte` and when the `examples` option is set, the following error is generated:
`TypeError: Object of type 'bytes' is not JSON serializable`
The `_TYPE_MAPPING` in `openapi30.py` should reference a string and not bytes.

[2019-01-17 08:15] stephenfin commented on #24
Any updates here? Looks like the issues you were referring to have been resolved

[2019-01-17 19:40] ikalnytskyi commented on #24
Deployed! https://pypi.org/project/sphinxcontrib-openapi/

[2019-01-17 19:40] #24 closed

[2019-01-29 11:57] bokysan commented on #32
I'm also facing this issue.

Description of our methods is in Markdown and this gets rendered nicely through redoc but produces strange results when using `sphinxcontrib.openapi`. Even more -- some markdown includes HTML tags and these get escaped when rendering with `sphinxcontrib.openapi`.

As Sphinx already provides support for Markdown, would a simple solution of creating custom files for ever

[2019-01-29 12:03] stephenfin commented on #32
Not a bad idea. I'd been making things a little more complicated and using `recommonmark` to convert the Markdown to docutils nodes, but doing so would necessitate generating these instead of rst throughout the extensions. If we went the route you were suggesting, I'd imagine this could be hidden behind another flag?

[2019-01-29 12:08] bokysan commented on #32
Yeah, you could just specify "my openApi is in markdown" and then the code generation would act a bit differently.

[2019-03-13 13:50] ptdel opened #38 "POST request specs missing in rendered docs"
Running the provided example documentation at https://sphinxcontrib-openapi.readthedocs.io/#how-to-use
[code]
renders as:
![2019-03-13-094430_3000x1920_scrot](https://user-images.githubusercontent.com/5721307/54283757-0c380980-4575-11e9-86b3-943d8869b7bb.jpg)

I was also unable to get any description of the body in my own api specs using a `parameter:` block with `in: body`, or with the openapi 3.

[2019-05-07 19:53] PratikPramanik opened #39 "Output json schema to sphinx doc page for an endpoint using openapi 2.0"
Is there anyway to do this?

[2019-05-14 17:59] brockhaywood commented on #39
I think my PR might address: https://github.com/sphinx-contrib/openapi/pull/34

[2019-06-24 21:36] nedbat commented on #32
Has there been any progress on this?  Can I help in some way?  I would love to have docs that work both as live Open API docs (which needs markdown), and as static docs on ReadTheDocs.

[2019-07-31 06:58] albert2126 commented on #38
This pull request resolves it:
Request body is missing in rendered docs  #47:
https://github.com/sphinx-contrib/openapi/pull/47

[2019-08-11 10:18] ikalnytskyi commented on #38
I asked this in #47, but I'll repeat this question here too. Is this ticket about what's called [`:examples:`](https://sphinxcontrib-openapi.readthedocs.io/#options) on our docs? Because it looks so. `:examples:` actuall generates an example snippet based on `requestBody`. It's turned off by default because in my opinion, it does too much and lacks some testing. I'm going to work on this and impro

[2019-08-11 10:18] ikalnytskyi commented on #38
/cc @albert2126 @ptdel

[2019-08-11 10:19] ikalnytskyi commented on #32
@nedbat thanks for making this happen. :+1: Closing now.

[2019-08-11 10:19] #32 closed

[2019-08-12 14:24] ptdel commented on #38
@ikalnytskyi Yes, at the time I was unable to get any sort of schema to render via any of the methods in the issue in either the example or just some other yaml spec.  Sorry it's been a little bit so it's not as fresh in my mind now.  I can understand not wanting to re-create functionality. However, if @albert2126 has a PR that has high test coverage that fits in form and factor with the existing

[2019-08-12 15:58] ikalnytskyi commented on #38
I never said it was untested. I said it lacks some tests. You see, the *examples* functionality is better and worse at the same time. It's better because it does not blindly shows you a schema. Instead, it tries to produce and show a valid payload with fake data. It's worse because such functionality has a bunch of nuances, such as different combination of types and formats, etc. What I'm saying i

[2019-08-12 16:47] ptdel commented on #38
Only my opinion, but I would prefer that a renderer did simply return the schema blindly to me.  I would think that the functionality of dynamically injecting mock data to a produced schema would be outside the scope of producing the schema, and more suited for an extension or external method of some sort.  If this PR implements the simple functionality of producing a valid request body, I would s

[2019-08-13 07:48] ikalnytskyi commented on #38
Yes, there are. Here's an incomplete list if you are interested:

* No tests. Not even a single one.
* Code duplication.
* Hardcoded values of `Host` and `Content-Type` in rendered HTTP *example* (while in fact it's not even an **example**, but **schema**).
* Bad assumption that a body contains only `application/json` content that crashes with any other `Content-Type` value.

Besides, I still do n

[2019-08-13 08:21] albert2126 commented on #38
Thank you guys for the discussion.

As a matter of a fact, an example is not enough in most cases because it often does not show all properties that can be used in a POST or PUT request. This makes a developer to open the YAML file to find the full specification on the required request.
The proposed update doesn't touch the example section. It just adds the request body section.
This is how Swagge

[2019-08-13 15:01] ptdel commented on #38
@ikalnytskyi Thanks for the explanation, gotta have tests :slightly_smiling_face: .  The issue was created in regards to other keywords that were not rendering properly in the spec, I don't have any particular issue with `examples:`

@albert2126 I would take a look at writing tests in [pytest](https://docs.pytest.org/en/latest/) and [tox](https://tox.readthedocs.io/en/latest/).  Most folks will wa

[2019-08-15 12:37] albert2126 commented on #38
@ptdel Thanks a lot for your support. I've added the new option ":request:" to the test_openapi3_success() function.
Let me know guys if I did something wrong. :)

[2019-08-16 07:03] albert2126 commented on #38
I'm working as an API documentator, so I know that the Request Body section is absolutely necessary. Otherwise PUT and POST method descriptions are incomplete.

I hope also that someone will make long sections (examples and request/response body) collapsible.
In my documents, I can make the whole "openapi" admonition section collapsible, but it would be nice to have the same possible for the secti

[2019-08-19 18:06] #38 closed

[2019-08-22 09:55] zmostaani opened #51 ""$ref" sections are not rendered at all even if they are defined in the same file."
I am using sphinx to render the `openapi.yml` file given in the documentation of the package, but in the output there is no section **Response JSON Object** that is corresponding to the **$ref** defined in the yaml file. I have tried with other yaml files as well but it is the same for all of them.  I googled the issue as well but I could not find any answer. Now I am wondering is it a bug with op

[2019-08-31 13:48] ikalnytskyi commented on #51
Hey @zmostaani! Thanks for the feedback, do you use OpenAPI spec v2 or v3?

[2019-09-02 09:30] mhuin opened #53 "OpenAPI v3: RequestBody should support OneOf, AnyOf"
According to https://swagger.io/docs/specification/describing-request-body/ "OneOf" is a valid element to describe alternate schemas in the request body.

[2019-09-02 14:59] zmostaani commented on #51
Hello, Thank you for your reply.

I am using the exact same example given in the documentation. It starts with `swagger: "2.0"` (my own yaml file starts the same), so I assume I am using OAS 2.0.

Is there any other way for  me to check what version of OAS I am using?

Thank you.

[2019-09-02 15:38] tuffnatty commented on #51
I am also experiencing this problem with a 2.0 spec.

[2019-09-02 15:43] tuffnatty commented on #51
@zmostaani It seems the support for response schema rendering has not been released yet. Release 4.0 is too old, for me, installing from git fixed the problem:
```pip install git+https://github.com/sphinx-contrib/openapi.git```

[2019-09-03 08:48] zmostaani commented on #51
@tuffnatty Thank you for your reply. Indeed when I installed from git the response object rendered correctly.

Do you think it will be included in the next release and if so when do you think there will be a new release?

[2019-09-03 14:42] tuffnatty commented on #51
@zmostaani I suppose it's rather a question for @ikalnytskyi .

[2019-09-05 00:21] ikalnytskyi commented on #51
Initially I wanted to do some internal refactoring before making new release. Yet, if there're some annoying bugs, I see no reasons why I shouldn't make a new release right now.

[2019-09-05 01:08] ikalnytskyi commented on #51
@zmostaani @tuffnatty I released new version

https://pypi.org/project/sphinxcontrib-openapi/0.5.0/

Can you guys please confirm it works for you?

[2019-09-05 09:11] zmostaani commented on #51
@ ikalnytskyi Thanks for the work. I installed the new version and it worked fine for me.

[2019-09-05 11:32] Trim21 opened #59 "[feature request]: support filter by not only path but also request method"

[2019-09-05 11:36] #51 closed

[2019-09-11 09:50] carlodri opened #60 "setuptools as runtime requirement?"
I'm not quite sure but from here:

https://github.com/sphinx-contrib/openapi/blob/399051211f8442f32e2ddbaeda99fc3a13ef7c20/sphinxcontrib/__init__.py#L12

it seems like `setuptools` (`_scm`?) should also be a runtime requirement. What am I missing here?

I maintain the [conda-forge feedstock for this package](https://github.com/conda-forge/sphinxcontrib-openapi-feedstock/pull/2) and it seems that C

[2019-11-12 16:09] kdmccormick opened #66 "Release 0.6.0 with include and exclude"
https://github.com/sphinx-contrib/openapi/pull/56, which adds support for the `include` and `exclude` options, was merged about a month ago, but hasn't been released. The feature has been very useful in our project, so we've been working off of a GitHub pin of the commit. A point release (or patch, whatever works) would be appreciated. Thanks!

[2019-11-28 20:56] lilisha100 commented on #38
Has this been fixed? I just downloaded and installed package, and did a build. I didn't get any POST request body rendered.

[2019-12-09 07:58] albert2126 commented on #38
Hi @lilisha100,

Yes it works if you add the :request: option there. The POST request body is not shown by default for backward-compatibility purpose.
This is an example that I just tested on sphinxcontrib-openapi version 0.5.0:

.. openapi:: ../../schemas/cmp.json
   :paths:
      /customers
   :request:
   :examples:

When build, the document displays both, the POST request and examples.

Unfort

[2019-12-19 22:18] ikalnytskyi commented on #66
Sorry for the delay. I just released new version. https://pypi.org/project/sphinxcontrib-openapi/0.6.0/

[2019-12-19 22:18] #66 closed

[2019-12-19 22:23] ikalnytskyi commented on #60
@carlodri I'm sorry for ignoring your question so long. I'm not sure whether your question is still open. But let me answer on this.

`pkg_resources` is distributed along with `setuptools`. While it may look bizarre, many Python packages  use `pkg_resources` to retrieve and show currently installed version of the package.

The line you're referring to is the pattern established in sphinxcontrib wo

[2019-12-20 08:59] carlodri commented on #60
thanks @ikalnytskyi, indeed it seems like it was some glitch in conda...

[2019-12-20 09:02] #60 closed

[2020-01-29 09:32] prestomation commented on #59
Similar ask here. I have an API that models all OPTIONS requests for CORS, but I don't want them in the API document, so an exclude by request method option would be awesome

[2020-01-30 05:46] TBBle commented on #32
I was very confused by this bug report. In case anyone else was confused, markdown support was implemented in #32, see https://sphinxcontrib-openapi.readthedocs.io/#options

Despite Markdown being specified in the OpenAPI specs, RST is the default.

[2020-02-22 22:03] ikalnytskyi commented on #32
@TBBle Yeah, sorry about that. I just wanted to be backward compatible. The default will be changed with some major version bump.

[2020-02-25 04:54] PabloSanchez95 commented on #38
Hi @albert2126 ,

I've tried the :request: option and it works but gives me a warning `rst:24: WARNING: Explicit markup ends without a blank line; unexpected unindent.` But I don't have that many lines.

My rst is as follow:
`
.. openapi:: /openapi/auth.yml
   :request:
`
Is there any way to get rid of the warning?

[2020-02-25 04:55] PabloSanchez95 commented on #38
Hi @albert2126 ,

I've tried the :request: option and it works but gives me a warning `rst:24: WARNING: Explicit markup ends without a blank line; unexpected unindent.` But I don't have that many lines.

My rst is as follows:
[code]
Is there any way to get rid of the warning?

[2020-03-17 21:56] Feng-Yin opened #76 "sphinxcontrib-openapi can't render free-form object"
with below swagger file.
[code]
The rendered doc only got the PoolID and UserID. PlayerData got lost.
![image](https://user-images.githubusercontent.com/1618467/76905574-54130e80-68f6-11ea-9ad0-449c8af3cfc9.png)

[2020-03-18 05:22] Feng-Yin commented on #76
Just seeing it duplicates with #55. Close it.

[2020-03-18 05:22] #76 closed

[2020-03-22 09:26] ikalnytskyi commented on #59
https://github.com/sphinx-contrib/openapi/pull/78
https://github.com/sphinx-contrib/openapi/pull/64

[2020-03-22 09:26] #59 closed

[2020-03-22 21:22] guiutio opened #79 "[feature request]: table of contents of paths/methods"
Generating a table of contents with direct links to the included paths/methods would be helpful when the generated documentation is long (e.g. when there are many paths/methods, when several or long examples are included).

[2020-03-25 08:38] TBBle opened #80 "Parsing fails when a response includes a header without a description"
The exception looks like this:

[code]

It appears to be because `_httpresource` blindly defererences `header['description']` but per [`HeaderObject`](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#headerObject) the description field is not required.

[2020-03-28 16:18] #39 closed

[2020-03-28 16:18] #4 closed

[2020-04-05 15:03] kpfleming opened #82 "YAML 'merge' keys cause parsing failures"
https://github.com/sphinx-contrib/openapi/blob/547f6453753b9d7accb30fa8d1eee2b8e02ebc0d/sphinxcontrib/openapi/utils.py#L39

The constructor for DEFAULT_MAPPING_TAG linked above causes PyYAML to fail to support YAML ['merge keys'](https://yaml.org/type/merge.html). Commenting out this constructor solves the problem, but presumably would cause other problems.

I've looked a bit into the PyYAML code

[2020-04-05 15:11] ikalnytskyi commented on #82
Current master supports Python 3.6  and greater. This version does not require hacking `PyYaml` in order to preserve order, since dictionaries are ordered out of box. So the fix will be simply remove that construction. Thanks for reporting, @kpfleming!

[2020-04-05 19:13] #82 closed

[2020-04-05 19:22] ikalnytskyi opened #85 "Restructure docs to reflect recents changes in renderers"
The extension now supports multi-renderers architecture, which means we can have more than one renderer to render the OpenAPI spec. Each renderer may have its own set of configuration options, and so we need to update the docs to reflect these changes.

[2020-04-05 19:26] ikalnytskyi commented on #53
I believe this is resolved in new renderer which uses https://github.com/sphinx-contrib/openapi/blob/2909aec06f8cf4be0ca3661e9344b5324f7c6c8b/sphinxcontrib/openapi/schema_utils.py to generate an example from schema. I'm not sure we need this to be fixed in old renderer, to be honest, because the old renderer contains enough bugs and is really hard to follow and maintain. I'd recommend everybody to

[2020-04-06 08:05] mhuin commented on #53
sweet, thanks!

[2020-04-06 08:05] #53 closed

[2020-04-09 18:34] harageth opened #86 "recursion limit exceeded (and seg faults with increased python recursion limit)"
I believe there is an infinite loop in the recursion in the utils _do_resolve function. I have tried to replicate the issue from building out some of my own config files but haven't been able to do so. I have supplied our config file since its what is currently causing the issue in hopes that you have a better grasp than myself on what the issue might be.

Most of the Objects in this are either a

[2020-04-30 02:18] pohutukawa opened #88 "response content schema elements missing on OpenAPI 3.0"
I've been using Sphinx OpenAPI previously with OpenAPI 2.0 specs. Now I'm dealing with my first OpenAPI 3.0 spec, and I've noticed that I can't find a "Response JSON Object" section on the different end-points. The schema is defined in the `content` element's content type (`application/json`) definition. The content is definitely in the spec (YAML file) and ReDoc as well as SwaggerUI show it.

Or

[2020-04-30 21:02] ikalnytskyi commented on #88
@pohutukawa I believe the answer is that it's simply not implemented for OpenAPI 3.x. :( I initially started this project for OpenAPI 2.x and over the years OpenAPI 3.x support has been contributed by others. Unfortunately, I didn't pay attention much and we ended up having two independent renders for v2 and v3.

However, last year I started some refactoring the end goal of which is to have a sing

[2020-05-03 22:45] pohutukawa commented on #88
Thanks @ikalnytskyi, that's pretty much what I would have expected (it to not being done, yet). It's good to see this in the pipeline, as I'd like to use it down the line.

Keep up the good work, and thanks for this really useful tool!

[2020-05-14 18:03] televi commented on #86
I have the same problem, but only with version 0.7.0.  Pinning back to 0.6.0 resolves the problem for me.

One other data point that may/may not be relevant: 0.7.0 worked fine in a venv on my MacBook running Python 3.6.6 but failed in a venv running Python 3.6.8 on a CentOS 7 system.  The only package differences between the two were that pyinotify==0.9.6 gets pulled in (for some reason) on Linux

[2020-05-26 14:36] Lyra2108 commented on #88
@ikalnytskyi I am also looking forward for that extension. Is there any way to support you with that?

[2020-05-29 12:45] LuckyFenix opened #89 "'security' block is not loaded"
Sphinx documentation generated from OpenAPI 3.0 doesn't contain information from `security` block. For example about required bearer token

[2020-05-29 13:01] tchernobog commented on #89
Reference to standard: https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.2.md#securitySchemeObject

[2020-05-29 13:03] tchernobog commented on #89
Related to https://github.com/sphinx-contrib/openapi/pull/61

[2020-06-03 16:09] albert2126 commented on #38
Hi @PabloSanchez95 PabloSanchez95,

In reST such cases are common. Ensure that you have an empty line after the markup block. Try to use spaces instead of the tab before ":request:".

[2020-06-04 16:40] dpgaspar opened #90 "Support OpenAPI v3 parameters content"
document generation crashes with:

[code]
since it does not seem to support parameters with content

https://swagger.io/docs/specification/describing-parameters/

[2020-06-11 11:25] vroyer opened #92 "Unexpected KeyError with simple descriptor"
sphinx 2.4.4 +
sphinxcontrib-openapi in /usr/local/lib/python3.7/site-packages (0.7.0)

test-0.1.yml:
[code]

RST file content:

.. openapi:: test-0.1.yml

sphinx-build -b html -d build/doctrees   source build/html
Running Sphinx v2.4.4
making output directory... done
building [mo]: targets for 0 po files that are out of date
building [html]: targets for 11 source files that are out of date
updati

[2020-06-11 19:05] olivier-tritschler commented on #88
Thanks for posting this. I was scratching my head on this as well. I'm happy to help make it happen or even simply help test out the new version when it comes out.

[2020-07-09 12:58] fryck commented on #86
I got the same issue and I solved it by using `.. openapi:httpdomain:: specs/swagger-v4.json` instead of `.. openapi:: specs/swagger-v4.json`

By default `httpdomain_old` is used which is cause this error

[2020-07-22 10:26] soyangel opened #93 "Array of string or integer doesn't show its description"
Hi,

When having  a property like this:

[code]

I get an output where description is not shown:
[code]

In cases like this (or array of integers maybe) it would be nice to show the description.

[2020-07-23 09:09] soyangel commented on #93
Created a pull request so a line with description will be generated for arrays of string, number, integer or boolean

#94

[2020-07-31 18:37] ikalnytskyi commented on #90
This issue does not exist in experimental new renderer.

https://github.com/sphinx-contrib/openapi/blob/227ef532eef5e8d21003ce0a77afc687c92944c3/sphinxcontrib/openapi/renderers/_httpdomain.py#L246-L250

Since current renderer is so hard to maintain and, I believe, this is not the only issue it has with following OpenAPI 3 spec, I simply luck any desire to work on this. Sorry. :(

I'll try my best

[2020-07-31 18:44] ikalnytskyi commented on #86
`.. openapi:httpdomain` is not feature complete yet. I'll try to finish it as soon as possible. Maintaining the old version is so annoying that I usually postpone it to the point I completely forget about the issue.

[2020-08-10 22:47] arrdem opened #96 "Schemas are assumed to be objects, not type combinators"
https://github.com/sphinx-contrib/openapi/blob/547f6453753b9d7accb30fa8d1eee2b8e02ebc0d/sphinxcontrib/openapi/openapi30.py#L260

This line assumes that every `schema` it operates on will be `{type: string}`, `{type: object}` or soforth, and fails to support the type combinators `anyOf`, `oneOf` and `allOf` when they occur at the top level. While I appreciate that providing a meaningful rendering o

[2020-08-11 09:36] ikalnytskyi commented on #96
Hey @arrdem,

Thanks for reporting this issue. Can you please try to render your spec using an experimental renderer?

[code]

It's not yet feature compatible with the old one, but I'm working on addressing this issue. You can find all supported directive parameters of this new renderer here

https://github.com/sphinx-contrib/openapi/blob/6cd85b92ca243eaf6fc8d353efb7eb9daf6bc717/sphinxcontrib/open

[2020-08-20 23:18] jdillard opened #100 "Consider adding the sphinx-extension GitHub topic"
Just wanted to say you should consider adding the sphinx-extension topic, https://github.com/topics/sphinx-extension, to the repo so it is easier for others to find on the GitHub ecosystem. There are currently 94 other sphinx extensions that use that topic.

[2020-08-26 15:54] ikalnytskyi commented on #100
It's a good idea. Thanks for suggestion!

[2020-08-26 15:54] #100 closed

[2020-09-17 09:29] fcollonval commented on #86
FYI

I got the error too using master on a openapi v3 specification. It disappears if I remove a recursive reference within a components.schemas.

Switching from `.. openapi::` to ` .. openapi:httpdomain::`  solved it.

[2020-10-27 10:44] vancheese opened #102 "Setting host for examples in openapi3"
When rendering examples using an openapi3 yaml file, the host isn't selected from the list of servers but replace with example.com

[2020-10-29 17:52] falkben commented on #96
Thanks, had a similar issue and using the new renderer fixed it.

Some additional information:

We are using this extension to generate Sphinx documentation on our FastAPI endpoints (after generating the openapi schema from fastapi). When query params have an Enum type annotation, they get the `anyOf` schema, as reported by the original poster.  Specifying the httpdomain renderer seems to skip ove

[2020-10-29 19:04] ikalnytskyi commented on #96
Thanks for the feedback, @falkben. I don't have much time to work on this but I'll try to release a new version in a week or two, where new renderer will be default one. It should fix a lot of bugs.

[2020-11-07 15:38] ikalnytskyi opened #103 "Ignore vendor extensions in new renderer"
The [new renderer](https://github.com/sphinx-contrib/openapi/blob/master/sphinxcontrib/openapi/renderers/_httpdomain.py) does not assume that there may be vendor extensions in OAS objects. I'm not sure what's going to happen, I can assume the renderer will either fail or render garbage when vendor extensions are met. We need to ensure they are ignored.

For this, I think we should implement some h

[2020-11-26 12:39] ibiris opened #104 "HTTP response codes - cannot be like '4XX', must be integer or start with an integer"
Whilst the openapi spec allows HTTP codes for responses objects to be of type 2XX or 4XX ([link](https://github.com/OAI/OpenAPI-Specification/blob/3.0.2/versions/3.0.0.md#responsesObject)) indicating a range of codes, this sphinx contrib seems unable to use those response codes appearing in a spec, with a warning:

`(ERROR/3) HTTP status code must be an integer (e.g. `200`) or start with an intege

[2020-12-01 09:06] ierosodin opened #105 "An unused page "HTTP Routing Table" when generating pdf by rst2pdf"
Currently, I'm using this extension to help me generate a pdf document, and I found when using this with `rst2pdf.pdfbuilder
`, it would generate an extra page like

![image](https://user-images.githubusercontent.com/20553624/100719293-66d36200-33f7-11eb-9ef8-c30a5917630f.png)

And this page is generated by `httpdomain` extension if we didn't set up `noindex` option under the directives.
Is there

[2021-01-07 09:19] ibiris commented on #96
Thanks for this update, I am facing the same issue also.

Is this release going to happen some time soon? Just checking what is the timeline for this, as the last comment is from 2+ months ago.

[2021-01-12 17:17] letmaik opened #106 "Exception raised on enum query parameters without "type""
JSON Schema does not require `"type"` to be present for enums, see also https://json-schema.org/understanding-json-schema/reference/generic.html#enumerated-values.

The plugin however requires it for all query parameter schemas:
https://github.com/sphinx-contrib/openapi/blob/4f78db9c8ca2cefc4e4c1eeb46552a8d9d432855/sphinxcontrib/openapi/openapi30.py#L279-L282

Sample error:
[code]

Sample paramete

[2021-01-28 16:00] kulsingh0 opened #107 "Incompatiable with OpenApi 3.0.1"
Brief Introduction:
We are facing issues while generating the sphinx documentation while using openAPI 3.0.1 yml template files .
But it works successful with the Swagger 2.0 template.

Ask:
Can you please confirm if sphinx supports OpenAPI 3.01 templates for documentation?

Problem Statement :
Specifically, we are facing issues for following parameters in documentation.
a) Request Json Parameters

[2021-02-01 09:59] kulsingh0 commented on #107
Any update please?

[2021-03-04 07:21] Kimamisa opened #108 "[feature request]: Filter by method for a path"
I am using the directive to include some generated API doc into my documentation, and thus using the :paths: parameter.

Would it be possible to select a list of method for each path, to avoid displaying all methods for a path ?

Like:

`.. openapi:: my_spec.yml
   :paths:
      /resource[get,delete]
   :encoding: utf-8`

Thanks !

[2021-04-09 12:00] annanyearian opened #109 "Local file references broken on windows"
Windows 10, Python 3.9, Sphinx==3.5.3

[code]

I am using the same test case as #3 does and getting the above error.

A little poking around shows that the base uri is being set to `file://H:\projects\XXX\source\api_spec.yml` and the reference is trying to resolve `file://H:\projects\XXX\source\api_spec.yml/definitions/foo.yml`

After getting this error I tried the latest dev versions with no chan

[2021-04-23 10:27] igo95862 commented on #107
@kulsingh0 Try switching to new renderer on latest version. Add `openapi_default_renderer='httpdomain'` to `conf.py`

[2021-05-20 14:54] rokroskar commented on #107
@igo95862 that doesn't seem to solve the problem for me:

[code]

It also doesn't work on the test API spec: https://github.com/sphinx-contrib/openapi/blob/master/tests/testspecs/v3.0/petstore-expanded.yaml

Yields:

![image](https://user-images.githubusercontent.com/3353586/119001180-0b3c6700-b98c-11eb-9d00-ff242f6dfa45.png)

[2021-06-04 14:17] juniorschen opened #111 "(Question) How provide dynamic openapi file"
Hello in the documentation you guys show how to provide a physical openapi file, but I would like to pass a url to it : https://petstore.swagger.io/v2/swagger.json

[2021-07-16 10:08] benjaoming commented on #108
I like this proposal a lot. It could also be implemented like this:

[code]

[2021-07-29 09:34] maxmurmann opened #112 "Type error thrown when schema uses oneOf"
[code]

Will throw

`Exception occurred:
  File "/Users/maxmurmann/opt/anaconda3/envs/bullhorn-apis/lib/python3.8/site-packages/sphinxcontrib/openapi/openapi30.py", line 282, in _httpresource
    type=param['schema']['type'],
KeyError: 'type'
`

whereas I believe this should be a fine formatting for OpenAPI?

[2021-07-29 22:51] freddrake commented on #112
This is certainly valid OpenAPI.

[2021-08-19 00:24] havok4u opened #113 "type = param['schema']['type'] breaks in newer spec"
PROBLEM:
In the newest spec and pydantic capability you can give multiple types for validation.  When I do a make html this breaks as there is not type key under param['schema'].  Rather you now have anyof as a key and a list of types of which a type might have a format as an alternative.
In file sphinxcontrib/openapi/openapi30.py, starting on line 270
[code]
This can be changed to the following t

[2021-08-23 11:34] crazyscientist opened #115 "`sphinx-build -W` raises an exception"
Hi there,

because our team would like to validate the correctness of Sphinx-syntax in our docstrings, we intend to use the `-W` parameter of `sphinx-build`. Unfortunately, this also converts this warning into an exception:

[code]

### Versions

[code]

### Steps to Reproduce

In one of the documents I have added the `openapi` directive:

[code]

The contents of the schema look like this (truncat

[2021-09-02 10:19] kloczek opened #116 "0.7.0: sphinx warnings"
Sphinx shows some warnings on generate `sphinxcontrib-openapi` modiule documentation
[code]

[2021-09-02 10:44] kloczek opened #117 "0.7.0: pytest warning"
I'm trying to package your module as an rpm package. So I'm using the typical build, install and test cycle used on building packages from non-root account.
- "setup.py build"
- "setup.py install --root </install/prefix>"
- "pytest with PYTHONPATH pointing to sitearch and sitelib inside </install/prefix>

[code]
BTW test suite. Looks like test suite needs only two files from OpenAPI-Specification:

[2021-09-02 10:48] kloczek commented on #117
Sorry I've copied that `--strict` to my spec file from fedora and this is my fault.
However that note about dropping submodule IMO still is valid :)

[2021-09-13 23:31] ddl-lgaddie opened #119 "Build fails when resolving refs"
https://github.com/sphinx-contrib/openapi/blob/4f78db9c8ca2cefc4e4c1eeb46552a8d9d432855/sphinxcontrib/openapi/utils.py#L108

[code]

`reference/monitor/api.rst` contains:
[code]

`/_static/api-specs/dmm-4.6/dmm.yaml` contains references like this one:
[code]

Where `drift_analyze.yaml` and other referenced files are in the same directory as `dmm.yaml`.

[2021-09-14 22:31] ddl-lgaddie commented on #119
I should mention that my specs are OpenAPI version 3.0.3.

[2021-11-22 01:40] monkut opened #121 "Cant' install `sphinxcontrib-openapi` with latest version of sphinx and pipenv"
Trying to install with the latest version of Sphinx via pipenv.

Pipfile:

[code]

Installation Error:
[code]

[2021-12-07 08:23] kylerws opened #122 "0.7.0 - sphinx-build raises AttributeError"
Unable to run sphinx-build after adding openapi directive to source files. Sphinx raises an Attribute Error for module collections.

[code]

Versions:
[code]

Full traceback:
[code]

[2021-12-07 08:34] kylerws commented on #122
Closing as the issue was pip install defaulting to version 0.6.0.

Fix was to require `mistune` version `0.8.4` as mentioned here:

#121

[2021-12-07 08:34] #122 closed

[2021-12-09 15:37] sevdog commented on #121
I am getting a similar error due to mistune 2.x in which `BlockGrammar` was removed from the codebase.

[2021-12-13 17:23] cblegare opened #123 "m2r haven't been updated in years"
With the recent major release Mistune (2.0), leading to breakage (see https://github.com/miyakogi/m2r/issues/66), I suggest to switch to m2r2: https://github.com/CrossNox/m2r2

[2021-12-14 16:53] astrojuanlu commented on #123
Or, alternatively, https://myst-parser.readthedocs.io/

[2022-01-18 14:31] rabernat commented on #107
I recently discovered this issue (xref https://github.com/pangeo-forge/pangeo-forge-orchestrator/pull/28). In that project, we are trying to include API documentation from a fastapi api object directly in a sphinx website. I imagine this is a very common scenario for python devs in 2022. We accomplish this with the following simple code in `conf.py`.

[code]

Plus the following RST in our sphinx s

[2022-04-19 08:24] icemac commented on #123
Using `m2r2` currently does not help either: It also pins `mistune` to version `0.8.4` in its `setup.py`, see https://github.com/CrossNox/m2r2/blob/b47d195275d39201c6bd0da4c26acbae28fcbcb9/setup.py#L24

[2022-04-20 05:47] icemac commented on #123
In https://github.com/miyakogi/m2r/issues/60#issuecomment-1103246787 `sphinx-mdinclude` is suggested as an m2r fork which could solve the problem.

[2022-04-20 08:45] aprams opened #124 "Feature Request: Include / Exclude in new renderer"
Setting  `openapi_default_renderer='httpdomain'`does not allow using the documented filter operations anymore.

Checking the code, this seems to be the default case. As this would therefore always render the whole schema at once, it is rather unusable without a way to filter for methods and paths.

Is there a workaround for this?

[2022-07-12 05:41] aleksandergabriel commented on #107
I just noticed the same problem.
`Sphinx==4.5.0 `
`sphinxcontrib-httpdomain==1.8.0`
`sphinxcontrib-openapi==0.7.0`

Is there a timeline when solution can be expected?

[2022-08-23 02:32] sachin-suresh-rapyuta opened #126 "ERROR: Unknown directive type "openapi""
I have installed openapi extension using:

`pip install sphinxcontrib-redoc`.

In one of my .rst file, I have:

`.. openapi:: specs/openapi.yaml`.

When I `make html`, build fails with:

[code]
My Python version:

[code]
UPDATE:

I also uninstalled sphinxcontrib-redoc and installed using pip3. When I build I get no errors. But I don't get the APIs rendered in my HTML.

I am using `openapi: 3.1.0`.

[2022-08-23 03:02] #126 closed

[2022-08-30 21:34] jeriox commented on #123
@qmonnet just saw that you fixed the issue in a branch of your fork. Any chance you would be willing to maintain that fork any further? would be highly appreciated to have a solution publicly available that does not rely on pinning the mistune version

[2022-08-31 09:15] qmonnet commented on #123
Sorry, I don't have the expertise of the time for that (the changes I contributed are pretty minor). But I was planning to submit the changes as a PR to the current repository. It was pending some other fix which was addressed last week, now I just need to find a moment to get to it and create the PR.

[2022-08-31 11:01] jeriox commented on #123
sad to hear, but understandable. Let's see if something happens to your PR as this repo seems to be untouched for two years...

[2022-09-27 11:57] fcollonval opened #128 "Help with maintenance"
Dear maintainers,

I'll like to help with maintenance - in particular to upgrade the dependency avoiding the use of m2r.

This is a follow-up of the issue I raised there: https://github.com/sphinx-contrib/github-administration/issues/30

[2022-10-06 23:03] msm-sardar opened #129 "Could not import extension sphinxcontrib.openapi"
I cannot import `sphinxcontrib.openapi` because of `docutils.core`.  Can you please tell me which versions of `sphinx`, `sphinxcontrib.openapi`, and `docutils` I should use?

**Here is the error:**
[code]

**here are the packages I have in the environment:**
[code]

[2022-10-09 09:18] cionz0 opened #130 "Missing header descriptions in response raise exception"
In my sample project on AWS I've enabled cors and since then I get this error.

`Exception occurred:
  File "/Users/cionzo/myproject/venv/lib/python3.8/site-packages/sphinxcontrib/openapi/openapi30.py", line 354, in _httpresource
    for line in convert(header['description']).splitlines():
KeyError: 'description'
`

It occurs at the point of generating the docs for the OPTIONS method (depending on

[2022-10-13 12:23] UsamaSadiq commented on #129
The combination `Sphinx==5.2.3(latest)`, `docutils==0.18.1` and `sphinxcontrib-openapi==0.7.0` worked for me. I had to pin the `docutils<0.19` due to `sphinxcontrib-openapi`. For further details, please have a look at the [PR](https://github.com/openedx/edx-platform/pull/31152).

[2022-10-19 05:53] st3v3nmw commented on #104
It seems to originate from the `sphinxcontrib-httpdomain` dependency, adding `http_strict_mode = False` to `conf.py` seems to fix it

[2022-11-03 14:12] fcollonval commented on #128
@stephenfin would you be willing to grant me the relevant permission in the absence of answer from the current maintainers?

[2022-11-06 13:15] stephenfin commented on #128
Would you be able to open a PR with the relevant fixes first? If @ikalnytskyi isn't available, we'll also need to reach out to the PyPI team to request access there so it's going to be some time before this can be fixed fully

[2022-11-18 03:03] kloczek opened #132 "0.7.0: `openapi` uses `m2r` which is no longer maintained"
`m2r` is now marked as archivesd.
This module is no longer maintained and will be not updated for mistune 2.x.
https://github.com/miyakogi/m2r/

[2022-11-18 06:41] FriedrichFroebel commented on #132
This has already been reported in #123, as well as an open PR #127 which attempts to fix this.

[2022-11-18 11:39] kloczek commented on #132
OK closing.
Taank you.

[2022-11-18 11:39] #132 closed

[2022-11-18 11:49] kloczek commented on #132
BTW it is yet another thing which could be put on ToDo list.
Currently in sphinxcontrib/__init__.py is used `pkg_resources` which will be deprecated.
In https://github.com/python/importlib_resources/issues/243 it is possible to find instruction about how to move to `importlib-resources`.

[2022-11-18 11:51] FriedrichFroebel commented on #132
This should probably a separate issue then or you might want to fix this in a PR directly.

[2022-11-24 12:55] MrAlois opened #133 "Cannot build using Sphinx v4.5.0"
I'm trying to figure out some convenient way to generate html for endpoints in our organization and since I came across your plugin, I was ecstatic.

Unfortunately I am unable to compile the project correctly after using the plugin. As far as I can see, the project looks relatively abandoned. At least I'll leave you here witha traceback, if it'll be of any use.

[code]

[2022-11-26 19:45] phofl commented on #133
Hi, I created a fork and fixed the build issues (this is because of a newer mistune version). Ideally, I'd like to merge this here again, but I am using the fork for now, https://github.com/phofl/openapi

[2022-11-30 23:05] phofl commented on #130
You can open a pr in https://github.com/phofl/openapi if you like, but will need tests

[2022-11-30 23:10] phofl opened #135 "Fork of openapi till we can get get something merged here again"
Hi,

I've created a fork of the project for work to fix all the inconsistencies with newer dependency versions. I do not intend to develop new features, only want to keep it maintained and useable.

Happy to merge PRs if they are sensible and tested if people are interested. Do not intend to do releases right now, personally I am installing from master.

Don't want to take any credit either. Ideal